@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --green-bg-color: #00dd00;
}

* {
    margin: 0;
    padding: 0;
        color: black;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: black;
}

header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30vw 70vw;
}

header img {
    width: 80px;
    margin: 15px 0px 0px 8vw;
}

.header-links {
    margin-top: 40px;
    padding: 0 100px;
    display: flex;
    justify-content: space-around;
}

.header-links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.header-links a:nth-child(4) {
    text-decoration: underline;
}

.apply-now {
    background: var(--green-bg-color);
    border-radius: 5px;
    height: 20px;
    padding: 8px 16px;
    margin-top: -10px;
}