@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --green-bg-color: #00dd00;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

body{
    display: flex;
    font-family: 'Roboto', sans-serif;
}

#landing-section{
    width:100vw;
    height:fit-content;
    color: white;
}

.parallax{
        background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(images/home-page/landing-page-background.jpg) repeat fixed 100%; 
}

header{
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 30vw 70vw ;
}

header img{
    width:80px;
    margin: 15px 0px 0px 8vw;
}

.header-links{
    margin-top:40px;
    padding: 0 100px;
    color: white;
    display: flex;
    justify-content: space-around;
}

.header-links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.header-links a:nth-child(1){
    text-decoration: underline;
}

.apply-now{
    background: var(--green-bg-color);
    border-radius: 5px;
    height: 20px;
    padding: 8px 16px;
    margin-top: -10px;
}

.bio{
    margin: 250px 0px 100px 7vw;
    width:500px;
}

.bio h1{
    font-size: 50px;
    line-height: 70px;
    
}

.bio h1 span {
    font-weight: lighter;
}

.bio p {
    margin: 30px 0px 40px 0px ;
    font-size: 24px;
    line-height: 40px;
}

.bio button{
    border: none;
    border-radius: 7px;
    color:white;
    background: var(--green-bg-color);
    font-size: 22px;
    padding: 10px 15px;
}

.bio button:hover {
    filter: brightness(0.8);
}

#statistics-section{
    position: relative;
    top: 140vh;
    left: -100vw;
}

.stats{
    width: 80vw;
    margin-left: 10vw;;
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around; 
}

.stats p{
    font-weight: bold;
    font-size: 30px;

}
.stats p span{
    font-weight: bolder;
    font-size: 50px;
    color: var(--green-bg-color);
}

.stats hr{
    margin-top:15px;
    height:2px;
    background:black;
    width:20px;
}

.skills{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

.skills img{
    transform: scale(0.8);

}

.skills h1{
    margin-top: 40px;
    font-size: 50px;
    font-weight: lighter;
}

.skills h1 span{
    font-weight: bolder;
}

.skills p {
    margin-top: 40px;
    font-size: 25px;
    line-height: 40px;
}

.skills a {
    margin-top: 30px;
    font-size: 23px;
    color: var(--green-bg-color);
}

#program-section{
    position: absolute;
    top: 250vh;
    width: 100vw;
    background: var(--green-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#program-section h1{
    color:white;
    font-size: 50px;
    font-weight: lighter;
}

#program-section h1  {
    margin-top: 60px;
    font-weight: bolder;
}

.courses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 90px;
}

.course-1{
    margin-right: 4vw;
}

.course-2 {
    margin-left: 4vw;
}

.course-1,
.course-2 {
    padding: 30px;
    max-width:300px;
    background-color: #ececec;
    border-radius: 10px;
    box-shadow: 5px 5px 0px black;
}

.course-1 h3,
.course-2 h3{
    color: rgb(180, 180, 180);
    margin-bottom: 20px;
}

.course-1 h2,
.course-2 h2{
    margin-bottom: 20px;
}

.course-1 hr,
.course-2 hr {
    height: 4px;
    background-color: black;
    margin-bottom: 30px;
    width: 20px;
}

.course-1 p,
.course-2 p {
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 50px;
}

.course-1 a, 
.course-2 a{
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

.course-2 a span,
.course-1 a span{
    font-weight: bolder;
    color: var(--green-bg-color)
}