@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --green-bg-color: #00dd00;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    display: flex;
    font-family: 'Roboto', sans-serif;
}

#landing-section{
    width:100vw;
    height:fit-content;
    color: white;
    /* background: radial-gradient(rgba(0, 0, 0, 0.144),rgba(0, 0, 0, 0)); */
    
}

.parallax{
        background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(images/home-page/landing-page-background.jpg) repeat fixed 100%;
        
}

header{
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 30vw 70vw ;
}

header img{
    width:80px;
    margin: 15px 0px 0px 8vw;
}

.header-links{
    margin-top:40px;
    padding: 0 100px;
    color: white;
    display: flex;
    justify-content: space-around;
}

.header-links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.header-links a:nth-child(1){
    text-decoration: underline;
}

.apply-now{
    background: var(--green-bg-color);
    border-radius: 5px;
    height: 20px;
    padding: 8px 16px;
    margin-top: -10px;
}

.bio{
    margin: 250px 0px 100px 7vw;
    width:500px;
}

.bio h1{
    font-size: 50px;
    line-height: 70px;
    
}

.bio h1 span {
    font-weight: lighter;
}

.bio p {
    margin: 30px 0px 40px 0px ;
    font-size: 24px;
    line-height: 40px;
}

.bio button{
    border: none;
    border-radius: 7px;
    color:white;
    background: var(--green-bg-color);
    font-size: 22px;
    padding: 10px 15px;
}

.bio button:hover {
    filter: brightness(0.8);
}
